.title-projects{
	padding-top: 5%;
	padding-left: 5%;
}

.informative__projects{
	height: auto;
	overflow: hidden;
}

.projects{
	margin-top: 2%;
	width: 100%;
	height:  100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background 0.5s ease;
	overflow: hidden;
}

.image{
	width: 100%;
	height:  100vh;
	z-index: 1;
	position: absolute;

	background: linear-gradient(0deg, rgba(11, 9, 23, 0.6) 0.64%, rgba(36, 32, 82, 0.6) 100%),url(../images/Projects/Bookshelf.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.image::before{
	content: '';
	background: var(--image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height:  100vh;
	transform: translate(-100vw,0%);
}

.image::after{
	content: '';
	background: var(--image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height:  100vh;
	transform: translate(100vw, 0%);
}

.img{
	--image: linear-gradient(0deg, rgba(11, 9, 23, 0.6) 0.64%, rgba(36, 32, 82, 0.6) 100%),url(../images/Projects/Bookshelf.svg);
}

.anim_next_image{
	animation: next_image 0.65s;
}

@keyframes next_image{
	  
	  50%,
	  55% {
	    transform: translate(100vw,0);
	  }
	  to {
	    transform: translate(100vw,0)
	  }
}

.anim_previous_image{
	animation: prev_image 0.65s;
}

@keyframes prev_image{
	  
	  50%,
	  55% {
	    transform: translate(-100vw, 0%);
	  }
	  to {
	    transform: translate(-100vw, 0%)
	  }
}

.btn-show{
	position: absolute;
	z-index: 2;
}

#next-option {
	  right: 2%;
      width: 4em;
      height: 4em;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23fff'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      transform:  rotate(270deg);
}

#previous-option{
	left: 2%;
	width: 4em;
    height: 4em;
    border: none;
    display: block;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23fff'%3E%3C/polygon%3E%3C/svg%3E");
    background-size: cover;
    transform:  rotate(90deg);
}

.projects__name{
	padding: 0;
	margin: 0;
	width: 70%;
    text-align: center;
    z-index: 2;
}

.project__link{
	text-decoration: none;
	color: white;
	font-size: 8em;
}

@media screen and (max-width: 760px){

	.project__link{
		font-size: 3em;
	}

	#next-option {
      width: 3em;
      height: 3em;
	}

	#previous-option{
		width: 3em;
        height: 3em;
	}
}


.animation_text{

	animation: spawn 0.65s;
}


@keyframes spawn{

  0% {
    transform:  scale(1);
    opacity: 1;
  }
  70% {
    transform:  scale(1.1);
    opacity: 0;
  }
  100% {
    transform:  scale(1);
    opacity: 1;
  }
}